@keyframes slide {
	0%, 32% {
		transform: translate3d(0,-75%,0);
	}
	33.33%, 65.33% {
		transform: translate3d(0,-50%,0);
	}
	66.66%, 98.66% {
		transform: translate3d(0,-25%,0);
	}
	100% {
		transform: translate3d(0,0,0);
	}
}
