@import "variables";

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: $main;
  border-top: 1rem solid $main;
  border-bottom: 1rem solid $main;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace, Helvetica, sans-serif;
  line-height: 1em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 5rem;
  line-height: 1.2;
  margin-top: 0;
}

h3 {
  font-size: 3rem;
}

div {
  font-size: 2rem;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin-bottom: 0.8em;
}

em {
  font-style: normal;
  position: relative;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 33%,
    $highlight 34%,
    $highlight 79%,
    transparent 80%,
    transparent 100%
  );
}

a {
  text-decoration: underline;
  &:hover {
    background: lighten($main, 20%);
  }
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 5rem;
}

.home {
  .header {
    background: white;
    box-sizing: border-box;

    &__intro {
      color: black;
      max-width: 960px;
      margin: 0 auto;

      span {
        display: inline-block;
      }
    }
  }

  .contact {
    text-align: center;
    position: relative;
    margin-top: 3rem;
    .icons {
      display: block;
      background: white;
      z-index: 2;
      position: relative;
      padding: 0 10px;
      text-align: left;
      > a {
        color: darken($main, 15%);
        padding: 5px;
        display: inline-block;
        height: 1em;
        width: 8%;
        text-align: center;
        font-size: 6rem;
        line-height: 1;
        margin-right: 2%;
        > svg {
          width: 100%;
        }
        &:hover {
          color: black;
          background: none;
        }
      }
    }
  }

  .heading {
    margin-bottom: 0.4em;
    line-height: 1em;
    display: inline-block;
    padding: 4px 10px 2px 5px;
    margin: 0.8em 0 0.4em;

    &--grey {
      background: white;
    }

    &--white {
      background: $grey;
      color: white;
    }
  }

  .main {
    height: auto;

    .panel {
      &:nth-of-type(odd) {
        background-image: linear-gradient(to bottom, lighten($main, 5%), $main);

        a:hover {
          background: $white;
        }
      }
    }
  }

  h2,
  h3 {
    margin-bottom: 0.4em;
    line-height: 1em;
    padding: 4px 10px 2px 5px;
  }
}

.footer.panel {
  padding: 10rem 0;
}

.panel {
  padding: 10rem 2.5rem;
  background: white;

  > div,
  > article {
    max-width: 960px;
    margin: 0 auto;
  }

  &.blank {
    height: 1rem;
    padding: 0;
    background: $main;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 2rem;
}

pre[class*="language-"] > code {
  border-color: $main;
}

.codepen {
  margin: 0 auto;
}

.work-item {
  display: flex;
  align-items: flex-start;

  // &:nth-of-type(odd) {
  span {
    order: 2;
  }

  ul {
    padding-right: 2rem;
  }
  // }

  span {
    width: 40%;
  }

  ul {
    width: 60%;
    margin: 0;
    list-style: initial;
    padding-inline-start: 40px;

    li {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
  h2 {
    font-size: 4rem;
  }
  .header {
    position: relative;
    width: 100%;
    height: auto;
    &__intro {
      height: auto;
      margin-top: 0;
    }
  }
  .main {
    position: relative;
    min-height: 0;
    width: 100%;
  }
  .panel {
    padding: 3rem 2.4rem;
  }
  .contact {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 7px;
  }
  .panel {
    padding: 3rem 1rem;
  }
  .contact .icons > a {
    font-size: 4.5rem;
    width: 1em;
    height: 1em;
    padding: 5px;
  }
}
