body#theme-nes {
  cursor: inherit;
  font-family: "Press Start 2P";

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: inherit;
  }

  .nes-container {
    margin: 0 auto 3rem;
  }

  .post-container .panel.post-header h1 {
    font-size: 5rem;
  }

  .panel {
    padding: 0 1rem;
  }

  .nes-icon.coin {
    animation: spin 1.5s linear infinite;
    transform: scale(3, 3);
    transform-origin: 50% 50%;
    margin: 0 0 2rem 2rem;
  }

  @media screen and (max-width: 640px) {
    .nes-icon.coin {
      display: block;
      margin-top: 3rem;
      margin-left: 0;
    }
  }
}

@keyframes spin {
  20% {
    transform: scale(3, 3);
  }
  50% {
    transform: scale(-3, 3);
  }
  80% {
    transform: scale(3, 3);
  }
}

@media screen and (max-width: 430px) {
  body#theme-nes {
    .nes-icon.is-large {
      &:not(.coin) {
        transform: scale(1.5);
      }

      &.coin {
        margin: 5rem auto 4rem;
      }
    }

    .post-container {
      .panel.post-header h1 {
        font-size: 3rem;
      }

      &.all-posts h2,
      .panel h2 {
        font-size: 2.5rem;
      }
    }
  }
}
