@import "variables";

.post-container {
  .panel {
    font-size: 2rem;
    > * {
      max-width: 800px;
      margin: 0 auto;
    }

    &.post-header {
      background: $main;

      h1 {
        font-size: 6rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      p {
        font-size: 2.4rem;
        text-align: center;
        display: block;
      }
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 3.5rem;
    }

    h4 {
      font-size: 3rem;
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: 3rem;
      }
    }

    li {
      margin-bottom: 2rem;
    }
  }

  &.all-posts {
    h2 {
      font-size: 3.5rem;
    }
    li:not(:last-of-type) {
      margin-bottom: 10rem;
    }
  }
}
