body {
  &:not(#theme-nes) {
    cursor: initial;
  }

  &#theme-yellow {
    --main: var(--yellow);
    --highlight: var(--yellow-highlight);
  }

  &#theme-red {
    --main: var(--red);
    --highlight: var(--red-highlight);
  }

  &#theme-grey {
    --main: var(--grey);
    --background: var(--grey-background);
    --highlight: var(--grey-highlight);
    --font-color: var(--white);
  }

  &#theme-rainbow {
    --main: var(--rainbow);
    --inner: white;
  }
}

.theme-switcher {
  position: fixed;
  top: 0;
  right: 20px;
  background: #ddd;
  width: auto;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1;

  .theme-switcher-button {
    box-sizing: border-box;
    border: black solid 2px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
    cursor: pointer;

    &.yellow {
      background: linear-gradient(
        white 0%,
        white 50%,
        var(--yellow) 50%,
        var(--yellow) 100%
      );

      &:hover {
        border-color: var(--yellow);
      }
    }

    &.red {
      background: linear-gradient(
        white 0%,
        white 50%,
        var(--red) 50%,
        var(--red) 100%
      );

      &:hover {
        border-color: var(--red);
      }
    }

    &.grey {
      background: linear-gradient(
        var(--grey-background) 0%,
        var(--grey-background) 50%,
        var(--grey) 50%,
        var(--grey) 100%
      );

      &:hover {
        border-color: var(--grey);
      }
    }

    &.rainbow {
      background: var(--rainbow);

      &:hover {
        border-color: white;
      }
    }

    &.nes {
      i {
        transform: scale(0.6);
        &:before {
          left: -16px;
        }
      }
      &:hover {
        border-color: white;
      }
    }
  }
}
