:root {
  --yellow: #fff176;
  --yellow-highlight: lighten(--yellow, 15%);
  --red: #ff8a80;
  --red-highlight: lighten(--red, 15%);
  --grey: #555;
  --grey-background: #333;
  --grey-highlight: lighten(--grey, 15%);
  --white: white;
  --black: black;
  --main: white;
  --background: white;
  --highlight: white;
  --font-color: black;
}
