:root {
  --yellow: #fdd835;
  --yellow-highlight: #fee781;
  --red: #ff8a80;
  --red-highlight: #ffd0cd;
  --grey: #555;
  --grey-background: #333;
  --grey-highlight: #7b7b7b;
  --white: white;
  --black: black;
  --main: white;
  --background: white;
  --highlight: white;
  --font-color: black;
}
